.opertemplate
    .row.m-0
        .col.p-0.imgoper
            img.imgslot(src=data.imgurl)
        .col.p-0.position-relative.icon
            img.iconslot(src=data.iconurl, width=100, height=100)
            h3.name.text-center.text-white #{data.name}
